html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}   

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}





.column {
    float: left;
    width: 50%;
}



.custom-popup .leaflet-popup-content-wrapper {
  background: #f0f0f0; /* Match this with image container */
  color: #333;
  border-radius: 8px;
}


/* Markers */

/* Popup  content */

.marker-date {
    font-style: italic;
    text-align: right;
    display: block; 
}

.marker-header {
    font-weight: bold;
    color: #333;
    margin-right: 1px;
}

.marker-text {
    font-family: 'Courier New';
    font-weight: normal;
    color: #333;
}

.marker-website {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.marker-website:hover {
    text-decoration: underline;
}

.missing-schedule {
  color: red;
}

/* Popup image */

.marker-image-container {
  width: 300px;
  height: 200px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.marker-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Marker icon */

.custom-marker-icon div {
    width: 25px;
    height: 41px;
    clip-path: polygon(50% 0%, 100% 50%, 100% 98%, 50% 100%, 0% 98%, 0% 50%);
    transform: rotate(45deg);
    border: 2px solid white;
    margin: 0 auto;
}

/* Map container */

